{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Set New Password - NeuroNest</title>
  <link rel="stylesheet" href="{% static 'css/patient.css' %}?v=1">
  <!-- this page's styles start around line 164 in patient.css -->
</head>
<body>

<a href="{% url 'index' %}" class="auth-back">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/></svg>
  Home
</a>

<div class="auth-page">

  <div class="auth-logo">
    <div class="auth-logo-mark"></div>
    <span class="auth-logo-name">NeuroNest</span>
  </div>

  <form class="form" method="post">
    {% csrf_token %}

    <p id="heading">Set New Password</p>

    <p style="text-align:center;font-size:13px;color:#b8bcc6;margin-bottom:4px;line-height:1.5;">
      Choose a strong password of at least 8 characters.
    </p>

    {% if messages %}
      {% for message in messages %}
        <div class="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <div class="field">
      <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
      </svg>
      <input placeholder="New Password" class="input-field" type="password" name="password1" required minlength="8">
    </div>

    <div class="field">
      <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
      </svg>
      <input placeholder="Confirm Password" class="input-field" type="password" name="password2" required minlength="8">
    </div>

    <div class="btn-row" style="margin-top:14px;">
      <button class="button1" type="submit">&nbsp;&nbsp;Update Password&nbsp;&nbsp;</button>
    </div>

  </form>

</div>

</body>
</html>
